div.loadingPage{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  img{
    transform: translateY(-60px);
    width: 50%;
  }
  p{
    color:#D29B65;
    transform: translateY(-60px);
    font-size: 18px;
  }
}
