div.MainH2Wrap{
  width: calc(100% - 32px);
  margin: 0 auto;
  img{
    height:22px;
    margin-bottom: 24px;
  }
}


/* contents */

// MainTodayGet
div.TodayGetWrap, 
div.PricebyPlaceWrap{
  width: 100%;
  max-width: 500px;
  height:295px;
  margin: 0 auto;
  margin-bottom: 32px;
}
div.TodayGetContainer,
div.PricebyPlaceContainer{
  width: 100%;
  height:295px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;
  ul{
    display: flex;
    flex-wrap: nowrap;
    min-width: 310px;
    padding: 0;
    margin: 0;
    margin-right: 16px;
    li{
      min-width: 310px;
      position: relative;
      display: inline-block;
      margin-left: 16px;
      cursor: pointer;
      overflow: inherit;
      white-space: nowrap;
    }
    li:last-child {
      margin-right: 16px;
    }
  }
}
.scrollContent {
  position: relative;
}

.imageWrapper {
  position: relative;
  width: 310px;
  height: 248px;
  border-radius: 16px;
  overflow: hidden;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -3%, rgba(0, 0, 0, 0.4) 100%);
}

.scrollContentSum {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scrollContentLike {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 21px;
  transition: 0.2s;
  cursor: pointer;
}


div.itemTitle{
  width: 100%;
  position: absolute;
  top:193px;
  left:16px;
  color: #fff;
  div{
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    h3{
      font-size: 16px;
    }
    h4{
      font-size: 14px;
      color:#D29B65;
    }
    span{
      font-size:14px;
    }
    img{
      width:13px;
      height:13px;
      transform: translate(-4px, 2px);
    }
  }
}
div.scrollTextLi{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  p{
    font-size: 12px;
  }
  span{
    font-size: 12px;
    color:#D29B65;
    cursor: pointer;
    width:44px;
    text-align: right;
  }
}

div.itemTitle h3, div.itemTitle h4,
div.scrollTextLi p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// InfinityContent
div.InfinityContentWrap{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
div.InfinityContent{
  width: calc(100% - 32px);
  margin: 0 auto;
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      width: calc(50% - 8px);
      margin-bottom: 16px;
      position: relative;
      div.InfinityContentSumDiv{
        width: 100%;
        height: 124px;
        border-radius: 8px;
        object-fit: cover;
        cursor: pointer;
      }
      div.InfinityContentSumDiv::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 124px;
        border-radius: 8px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) -3%, rgba(0, 0, 0, 0.3) 100%);
      }
      img.InfinityContentSum{
        width: 100%;
        height: 124px;
        border-radius: 8px;
        object-fit: cover;
        cursor: pointer;
      }
      // img.InfinityContentSum::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   border-radius: 8px;
      //   background: linear-gradient(180deg, rgba(0, 0, 0, 0) -3%, rgba(0, 0, 0, 0.2) 100%);
      // }
      img.scrollContentLike{
        position: absolute;
        top:16px;
        right: 16px;
        width: 21px;
        transition: 0.2s;
        cursor: pointer;
      }
      h3{
        width: calc(100% - 8px);
        margin-left: 8px;
        margin-top: 8px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
    }
    }
  }
}
div.infinityItemTitle{
  width: 100%;
  position: absolute;
  top:102px;
  left:16px;
  color: #fff;
  div{
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    h3{
      font-size: 16px;
    }
    h4{
      font-size: 14px;
      color:#D29B65;
    }
    span{
      font-size:14px;
    }
    img{
      width:13px;
      height:13px;
      transform: translate(-4px, 2px);
    }
  }
}
